#pragma once

#define WIFI_HOSTNAME "ledscreen"

// only 2.4ghz capable SSIDs

#define WIFI_SSID_1 ""
#define WIFI_PASSWORD_1 ""

#define WIFI_SSID_2 ""
#define WIFI_PASSWORD_2 ""

#define WIFI_SSID_3 ""
#define WIFI_PASSWORD_3 ""

#define OTA_USERNAME ""
#define OTA_PASSWORD ""

#define LATITUDE ""   //"48°52′18″ N"
#define LONGITUDE ""  //"2°23′30″ E"
#define WEATHERKEY "" // https://home.openweathermap.org/api_keys